<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		 <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
		<title>电子保函服务平台</title>
		<link rel="stylesheet" type="text/css" href="/css/index.css">
		<link rel="stylesheet" type="text/css" href="/css/animate.min.css">
		<script src="/js/jquery-1.9.1.min.js" type="text/javascript"></script>
		<script src="/js/index.js" type="text/javascript"></script>
</head>
	<body>
	<div class="top_wrap">
		<div class="login_wrap">
			<div class="login_a" th:if="${session.LOGIN_USER==null}">
				<a href="/login.html">登录</a><span style="margin-left: 0.04rem;">|</span>
				<a href="/login.html#regist">注册</a>
			</div>
			<div class="login_b" th:if="${session.LOGIN_USER!=null}">
				<a th:text="${session.LOGIN_USER.organ.organName}"></a><span style="margin-right: 0.04rem;">|</span>
				<a href="/logout.html"><i class="fa fa-sign-out" aria-hidden="true"></i>退出</a>
			</div>
		</div>
	</div>
<header></header>
	<div class="body_main">
		<div class="topone_wrap">
			<div class="topone_title">
				<p>保函相关资讯>产品介绍</p>
			</div>
	</div>
	<div class="bao_wrap">
	<div class="bao_nav">
		<div class="bao_img">
			<img src="/images/01.jpg" />
		</div>
		<div class="bao_wri">
			<div class="bao_tit">
				<h2>投标保函</h2>
				<p>投标保证保险是在招投标活动中，投标人购买的保险。该保险将招标人作为受益人，当投标人在投标有效期前撤销、修改投标文件，或者中标后因自身原因不与招标人签订合同、不按照招标文件缴纳履约保证金，保险公司将按照保险合同约定，对招标人进行经济赔偿。
				</p>
			</div>
		    <button class="sub_wrap"  type="button">立即投保</button>
			<div class="demo-txt">
				<div id="btn" class="btn_op"> <p>关闭弹窗</p><img src="/images/xx_06.png" />
					
				</div>
				<div class="demo-twri">
					<input type="checkbox" id="ty" value="1" class="check_wrap">
					<p>点击阅读完《投保指南、投保须知、投保条款》后才可点击同意并立即投保</p>
					
						<a onclick="tongyi()"><img src="/images/tijao_03.png" /></a>
						<p class="demo_twri_page">注：如果投保人未能按照投保须知填写、确认投保相关信息，导致的后续损失，保险公司不承担赔偿责任。</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="list_dian">

	<div class="list_wrap">

		<div class="list_wrap_w list_active">
			<div class="list_wrap_one">投保指南</div>
		</div>
		<div class="list_wrap_w">
			<div class="list_wrap_one">投保须知</div>
		</div>
		<div class="list_wrap_w">
			<div class="list_wrap_one">投保条款</div>
		</div>
	</div>
</div>
<div class="main_wrap_o main_wrap_active" id="toubaozhinan">
	<div class="mitop">
	<img src="/images/21.png" /><p>投保指南</p>
</div>
<div class="minon">
<h3>一、承保公司</h3>
<p>由中国人民财产保险股份有限公司山西省分公司、中华联合财产保险股份有限公司山西分公司、中国太平洋财产保险股份有限公司山西分公司和中国大地财产保险股份有限公司山西分公司组成的共保体承保。</p>
<h3>二、保险合同订立形式</h3>
<p>本产品提供电子保单（保函）根据《中华人民共和国合同法》第十一条规定，数据电文是合法的合同表现形式。您可以通过拨打保险公司的客服热线：95518查询保险单。如您需要邮寄发票或纸质保单，请联系平台客服人员。</p>
<h3>三、保险费支付方式</h3>
<p>本产品为网络推广保险产品，实行网络辅助投保，进行网上支付。</p>
<h3>四、投保咨询方式、保单查询方式及客户投诉渠道</h3>
<p>投保咨询电话：0351-8215783</p>
<p>保单查询方式：招标平台查询或95518</p>
<p>投保咨询地址：太原市迎泽大街300号山西保险大厦2105室</p>
<p>投诉电话：95518</p>
<h3>五、投保及理赔流程</h3>
<p>投保流程：</p>
<p>1.投标人选择投保投标保证保险（选择投标电子保函）；</p>
<p>2.完善填写投保资料并确认；</p>
<p>3.保险公司收到信息后生成缴费二维码；</p>
<p>4.客户缴费后保险公司出具电子保函（下载链接）；</p>
<p>5.保险公司向平台反馈业务完成信息。</p>
<p>理赔流程：</p>
<p>1.拨打报案电话</p>
<p>根据保函信息拨打相应保险公司报案电话</p>
<p>2.准备材料</p>
<p>根据服务人员告知的资料清单准备理赔资料</p>
<p>3.理赔办理</p>
<p>前往保险公司提交理赔资料</p>
<p>4.审核</p>
<p>保险公司审核理赔材料</p>
<p>5.结案</p>
<p>确属保险责任范围的事故，保险公司将在约定时效内赔付</p>

</div>
</div>
<div class="main_wrap_o" id="toubaoxuzhi"  >
	<div class="mitop">
	<img src="/images/21.png"/><p>投保须知</p>
</div>

<div class="minon">
	<p>请投标人务必仔细阅读以下条款：</p>
	<p>1.请您在购买保险时，仔细确认所填写的投保信息完整、真实、准确</p>
<p>2.请您在购买保险前，确认已经认真阅读本产品的保险责任和责任免除条款，特别是免除保险人责任的条款（包括但不限于责任免除、投保人和被保险人义务、保险金申请与给付、退保规则等重大约定事项），并已充分理解和接受上述内容，同意以此作为订立保险合同的依据。</p>
<p>3.本保险一旦生效后不支持退保；如需变更保单信息，请前往保险公司柜台办理。</p>
<p>4.本保险提供电子发票，如果您需要纸质发票，请与中国人民财产保险股份有限公司太原市分公司滨河营销服务部联系。联系方式：0351-8215783</p>
<h3>一、	我们如何保护您的个人信息</h3>
<p>（一）我们已使用符合业界标准的安全防护措施保护您提供的个人信息，防止数据遭到未经授权的访问、不当公开披露、不当使用、不当修改、损坏或丢失（以下简称“个人信息安全事件”）。我们会采取一切合理可行的措施，保护您的个人信息，如权限控制、隐私保护培训等。 </p>
<p>（二）我们的信息系统已经通过国家公安部信息系统安全等级测试备案，并获得了由公安部门核准颁发的“国家信息安全等级保护三级认证”，并取得了以下认证：诚信网站、可信网站、认证联盟实名网站。这意味着平台的技术系统安全可靠，数据保护能力得到了官方和专业机构的认可。</p>
<p>（三）互联网并非绝对安全。电子邮件、即时通讯、社交软件等与其他用户的交流方式无法确定是否完全加密，我们建议您使用此类工具时使用复杂密码，协助我们保护您的账号和个人信息安全。</p> 
<p>（四）我们将按照《网络安全法》要求开展网络安全风险评估和数据出境安全评估，并按照相关国家标准要求开展个人信息安全影响评估。</p>
<p>（五）我们将尽力确保您提供或授权我们查询收集的任何个人信息的安全。如果我们的物理防护、技术手段或管理措施遭到破坏，导致个人信息安全事件发生，我们将依法承担相应的法律责任。 </p>
<p>（六）由于技术水平限制及外界可能存在的各种恶意手段，不排除我们无法控制的个人信息安全事件发生的可能。在发生或者可能发生个人信息安全事件时，我们将立即采取补救措施，并按照规定及时向您和有关主管部门报告。我们将及时将事件相关情况以邮件、信函、电话、推送通知等方式告知您，在难以逐一告知时，我们会采取合理、有效的方式发布公告。</p>
<h3>二、服务网点</h3>
<table class="tables" border="1" cellspacing="0" cellpadding="0">
	<tr>
	<td>序号</td>
	<td>区域</td>
	<td>网点名称</td>
	<td>地址</td>
	<td>电话</td>
	</tr>
	<tr>
	<td>1</td>
	<td>省公司</td>
	<td>中国人民财产保险股份有限公司山西省分公司</td>
	<td>山西省太原市迎泽大街300号</td>
	<td>0351-8215716</td>
	</tr>
	<tr>
	<td>2</td>
	<td>太原</td>
	<td>中国人民财产保险股份有限公司太原市分公司</td>
	<td>山西省太原市迎泽大街300号省公司综合办公大楼7-9层</td>
	<td>0351-8215783</td>
	</tr>
	<tr>
	<td>3</td>
	<td>大同</td>
	<td>中国人民财产保险股份有限公司大同市分公司</td>
	<td>大同市新建南路83号</td>
	<td>0352-5069426</td>
	</tr>
	<tr>
	<td>4</td>
	<td>阳泉</td>
	<td>中国人民财产保险股份有限公司阳泉市分公司</td>
	<td>阳泉市三角线69号</td>
	<td>0353-2058216</td>
	</tr>
	<tr>
	<td>5</td>
	<td>长治</td>
	<td>中国人民财产保险股份有限公司长治市分公司</td>
	<td>长治市城西路95号</td>
	<td>0355-2084822</td>
	</tr>
	<tr>
	<td>6</td>
	<td>晋城</td>
	<td>中国人民财产保险股份有限公司晋城市分公司</td>
	<td>山西省晋城市城区文昌西街548号</td>
	<td>0356-2038750</td>
	</tr>
	<tr>
	<td>7</td>
	<td>朔州</td>
	<td>中国人民财产保险股份有限公司朔州市分公司</td>
	<td>朔州市开发南路110号</td>
	<td>0349-2029356</td>
	</tr>
	<tr>
	<td>8</td>
	<td>忻州</td>
	<td>中国人民财产保险股份有限公司忻州市分公司</td>
	<td>忻州市建设北路9号</td>
	<td>0350-3037222</td>
	</tr>
	<tr>
	<td>9</td>
	<td>吕梁</td>
	<td>中国人民财产保险股份有限公司吕梁市分公司</td>
	<td>山西省吕梁市离石区新华街73号</td>
	<td>0358-8289638</td>
	</tr>
	<tr>
	<td>10</td>
	<td>晋中</td>
	<td>中国人民财产保险股份有限公司晋中市分公司</td>
	<td>山西省晋中市榆次区新建北路308号</td>
	<td>0354-3070040</td>
	</tr>
	<tr>
	<td>11</td>
	<td>临汾</td>
	<td>中国人民财产保险股份有限公司临汾市分公司</td>
	<td>临汾市尧都区鼓楼人民公园西侧</td>
	<td>0357-3303775</td>
	</tr>
	<tr>
	<td>12</td>
	<td>运城</td>
	<td>中国人民财产保险股份有限公司运城市分公司</td>
	<td>运城市中银南大道1号</td>
	<td>0359-2223808</td>
	</tr>
</table>

<h3>三、告知义务</h3>
<p>1、申明填写内容属实，无故意隐瞒</p>
<p>2、已仔细阅读条款并同意遵守所有内容</p>
<p>3、同意如发生有关网上投保的分歧，以保险公司的电子记录凭证等电文作为唯一合法有效凭证</p>
<p>4、接受以电子保单作为本投保书成立的合法有效凭证</p>
<p>5、在此声明至保险正式生效日之前，如上述声明内容发生改变，应及时通知保险人，保险人有权进行重新评估。
</p>
</div>
</div>
<div id="main" class="main_wrap_o">
<div class="mitop">
	<img src="/images/21.png" /><p>投保条款</p>
</div>
<div class="all_clause_wrap">
<h3>中国人民财产保险股份有限公司</h3>
<h3>投标保证保险条款</h3>
<h4>总则</h4>
<p>第一条 本保险合同由保险条款、投保单、保险单、保险凭证及批单组成。凡涉及本保险合同的约定，均应采用书面形式。</p>
<p>第二条 招标投标活动中的投标人可作为本保险合同的投保人。</p>
<p>第三条 招标投标活动中的招标人可作为本保险合同的被保险人。</p>
<p>第四条 凡符合《中华人民共和国招标投标法》、《中华人民共和国招标投标法实施条例》等法律法规，并在中华人民共和国境内（不包括港、澳、台地区）开展的招标项目，均可适用本保险。</p>
<h4>保险责任</h4>
<p>第五条 在保险期间内，投保人向被保险人组织的招标项目投标过程中，发生下列情形之一的，被保险人可向保险人提出索赔。保险人依据本保险合同的约定对被保险人的损失进行赔偿，赔偿金额以保险金额为限。</p>
<p>（一）投保人在招标文件规定的投标有效期内未经被保险人同意修改或撤销其投标文件；</p>
<p>（二）投保人接到中标通知后，在招标文件规定的时间内，因自身原因或无正当理由不与被保险人订立招标项目合同;</p>
<p>（三）投标人中标后不按照招标文件要求缴纳履约保证金。</p>
<h4>责任免除</h4>
<p>第六条 下列原因造成的损失、费用和责任，保险人不负责赔偿：</p>
<p>（一）战争、敌对行为、恐怖行为、军事行动、武装冲突、罢工、暴动、民众骚乱、恐怖活动或恐怖袭击；</p>
<p>（二）核爆炸、核子辐射和放射性污染；</p>
<p>（三）洪水、台风、地震、海啸及其他人力不可抗拒的自然灾害；</p>
<p>（四）行政行为或司法行为；</p>
<p>（五） 被保险人及其代表的故意或犯罪行为。</p>
<p>第七条 存在下列情况之一的，保险人不负责赔偿：</p>
<p>（一） 投保人在投标文件递交截止时间前撤回招标文件的; </p>
<p>（二） 投保人中标后因不可抗力原因未与招标人订立合同或缴纳履约保证金的；</p>
<p>（三） 投保人或其雇员与被保险人或其雇员采用欺诈、贿赂等非法手段串通招投标的； </p>
<p>（四） 被保险人的招标文件被依法认定无效或被撤销的；</p>
<p>（五） 被保险人未履行招标文件规定义务或在提交投标文件截止时间后变更招标文件的。</p>
<p>第八条 对下列损失、费用和责任，保险人不负责赔偿：</p>
<p>（一） 被保险人的间接损失；</p>
<p>（二） 被保险人根据招标文件应该承担的责任，以及为收集、确认、证明投保人违反招标文件造成损失所产生的任何费用； </p>
<p>（三） 罚款、罚金及惩罚性赔偿。</p>
<p>第九条 本保险单载明的免赔额以及按本保险单载明的免赔率计算的金额，保险人不负责赔偿。</p>
<h4>保险金额、免赔额（率）</h4>
<p>第十条 本保险合同的保险金额为保险人承担赔偿责任的最高金额，根据招标文件中投保人应交纳的投标保证金金额确定，并在保险单中载明。</p>
<p>第十一条 本保险合同的免赔额（率）由投保人与保险人协商确定并在保险单中载明。</p>
<h4>保险期间</h4>
<p>第十二条　本保险合同的保险期间由投保人与保险人协商约定，具体起期日和终止日以保险单上载明的日期为准，最长不超过一年。</p>
<h4>保险人义务</h4>
<p>第十三条 本保险合同成立后，保险人应当及时向投保人签发保险单以及其他保险凭证。</p>
<p>第十四条 保险事故发生后，投保人、被保险人提供的有关索赔的证明和资料不完整的，保险人应当及时一次性通知投保人、被保险人补充提供。</p>
<p>第十五条 保险人收到被保险人的赔偿请求后，应当及时就是否属于保险责任做出核定，并将核定结果通知被保险人。</p>
<h4>投保人、被保险人义务</h4>
<p>第十六条 投保人应履行如实告知义务，如实履行保险人就有关情况提出的询问，如实填写投保单。</p>
<p>第十七条 投保人应在保险责任起始日前一次性交清全部保险费。</p>
<p>第十八条 在保险合同有效期内，如投保人履约能力发生重大变化，履约风险显著增加的，投保人应采取措施降低或消除上述风险，并应按照本保险合同约定及时通知保险人。保险人可以按照保险合同约定增加保险费或者解除保险合同。</p>
<p>第十九条 若在投保时有相关约定，投保人应及时向保险人进行与投保合同有关的业务信息申报，包括但不限于招标项目进展情况等信息。</p>
<p>第二十条 投保人在投保时应向保险人提供以下资料：</p>
<p>（一） 投保人营业执照、税务登记证、组织机构代码证复印件；</p>
<p>（二） 投保人上年度经审计的财务报告及前3个月的资产负债表、损益表、现金流量表；</p>
<p>（三） 招标文件；</p>
<p>（四） 投保人的投标文件；</p>
<p>（五） 投保人既往同类招标项目的履约记录；</p>
<p>（六） 保险人要求的其他资料。</p>
<p>第二十一条 发生保险事故，投保人或被保险人应当及时通知保险人。</p>
<p>第二十二条 发生保险事故后，被保险人应向保险人提供下列证明和资料：</p>
<p>（一）保险单正本；</p>
<p>（二）索赔申请书；</p>
<p>（三）招标文件；</p>
<p>（四）投保人递交的投标文件；</p>
<p>（五）保险事故发生的证明文件；</p>
<p>（六）司法机关出具的裁定书、裁决书或判决书等（适用于仲裁或诉讼确定损失的方式）；</p>
<p>（七）投保人、被保险人所能提供的与确定保险事故的性质、原因、损失程度等有关的其他证明和资料。</p>
<h4>赔偿处理</h4>
<p>第二十三条 保险人的赔偿以下列方式之一确定的被保险人损失为基础：</p>
<p>（一）投保人、被保险人协商并经保险人确认；</p>
<p>（二）仲裁机构裁决；</p>
<p>（三）人民法院判决；</p>
<p>（四）保险人认可的其它方式。</p>
<p>第二十四条 发生保险责任范围内的损失，保险人依照本保险合同的约定，在保险金额范围内扣除免赔额后予以赔偿。</p>
<p>第二十五条　被保险人取得保险赔偿金的同时，应将其对投保人的权益以及根据相关合同拥有的权益转让给保险人，保险人有权向投保人进行追偿。被保险人应当向保险人提供必要的文件及协助。
	<h4>争议处理和法律适用</h4>
	<p>第二十六条 合同争议解决方式由当事人在合同约定从下列两种方式中选择一种： </p>
	<p>（一）因履行本合同发生的争议，由当事人协商解决，协商不成的，提交保险单载明的仲裁委员会仲裁； </p>
	<p>（二）因履行本合同发生的争议，由当事人协商解决，协商不成的，依法向人民法院起诉。</p> <p>第二十七条 与本保险合同有关的以及履行本保险合同产生的一切争议，适用中华人民共和国法律（不包括港澳台地区法律）。</p>
	<h4>其他</h4>
	<p>第二十八条 保险责任开始前，投保人要求解除保险合同的，应当向保险人支付相当于保险费5%的退保手续费；剩余保险费，保险人应当退还。</p>
	<p>第二十九条 本保险合同生效后，未经被保险人书面同意，投保人不得解除本保险合同。在保险期间内，如果投保人和被保险人均书面要求解除保险合同的，保险人可以解除本保险合同但不退还保险费。 </p>
	<h4>释义</h4>
	<p>投标人：指响应招标、参加投标竞争的法人或者其他组织。</p>
	<p>招标人：指依法提出招标项目、进行招标的法人或者其他组织。</p>
	<p>投标有效期：指为保证招标人有足够的时间在开标后完成评标、定标、合同签订等工作而要求投标人提交的投标文件在一定时间内保持有效的期限，该期限由招标人在招标文件中载明，从提交投标文件的截止之日起算。</p>
	<p>投标保证金：指在招标投标活动中，投标人随投标文件一同递交给招标人的一定形式、一定金额的投标责任担保。</p>
	<p>履约保证金：指在招标投标活动中，招标人为督促中标人履行合同，在招标文件中要求中标人以适当的格式或金额采用现金、支票、履约担保书或银行保函形式提供的担保。</p>
	<p>2.保险期限、保险费率</p>
	<p>保险期限：</p>
	<p>自投保人向被保险人投标之日或保险单载明的起始日起（两者以后发生者为准），至投保人与被保险人签订招标项目合同之日或保险单载明的保险终期之日止（两者以先发生为准），最长不超过180天。</p>
	<p>保险费率：</p>
	<p><img  src="/images/323_03.png" /></p>
	<p>3.保险条款和保险费率备案编号</p>
<p>人保财险（备-保证）【2016】主</p>
			</div>
</div>
</div>

<footer></footer>

</body>
<script>
function tongyi(){
	if(!$('#ty').is(':checked')) {
	   alert("请勾选阅读并同意投保须知");
	}else{
		$("#ty").attr("checked",false);
		window.location.href ="/bidPolicyForm.html";
	}
}
</script>
</html>
